[Quiz] <br>
<script>
var line = <%= @results.length %>

function deleteSentence(id){
    if($('#but_'+id).val() == 'undo'){
        $('#but_'+id).val('delete');
        $('#sent_'+id).css("text-decoration", "none");
        $('#sent_'+id).css("background-color", "");
    }else{
        $('#but_'+id).val('undo');
        $('#sent_'+id).css("text-decoration", "line-through");
        $('#sent_'+id).css("background-color", "gray");
    }
    $('#save').removeAttr('disabled');
}

function setTarget(){
    var sentence = $('#sentence').text();
    if(sentence == '') return;
    var target = window.getSelection().toString();
    var startIndex = sentence.indexOf(target);
    $('#targetStartIndexText').val(startIndex);
    $('#targetLengthText').val(target.length);
}

function addSentence(){
    var sentence = $('#sentence').text();
    var startIndexText = $('#targetStartIndexText').val();
    var targetLengthText = $('#targetLengthText').val();
    if(sentence == '') return;
    if(! $.isNumeric(startIndexText)) return;
    if(! $.isNumeric(targetLengthText)) return;
    var startIndex = parseInt(startIndexText);
    var targetLength = parseInt(targetLengthText);
    console.log(startIndex);
    console.log(targetLength);
    var target = sentence.substring(startIndex, startIndex + targetLength);
    var pref = sentence.substring(0, startIndex);
    var suf = sentence.substring(startIndex + targetLength);
    var arr = [];
    arr.push('<tr id="sent_'+line+'">');
    arr.push(  '<td id="sent">');
    arr.push(    pref + '<strong style="color:red">'+target+'</strong>'+suf);
    arr.push(    '<input type="hidden" id="targetStartIndex_' +line+'" value="' +startIndex+'" />')
    arr.push(    '<input type="hidden" id="targetLength_' +line+'" value="' +target.length+'" />')
    arr.push(  '</td>');
    arr.push(  '<td class="but">');
    arr.push(    '<input type="button" value="delete" id="but_'+line+'" onclick="deleteSentence('+line+');" />')
    arr.push(  '</td>');
    arr.push('</tr>');
    $('.list tbody').append(arr.join(''));
    line++;
    $('.editable').text('');
    $('#save').removeAttr('disabled');
}

function save(){
    var xx=new Array();
    $('tbody tr').each(function(i){
        var sent = $(this).find('#sent').text();
        var targetStartIndex = $(this).find('#targetStartIndex_'+i).val();
        var targetLength = $(this).find('#targetLength_'+i).val();
        var but = $(this).find('.but input').val();
        if(sent != "" && targetStartIndex != "" && targetLength != "" && but != 'undo') {
          xx.push({
            'sentence': $.trim(sent),
            'targetStartIndex': parseInt(targetStartIndex),
            'targetLength': parseInt(targetLength)
          });
        }
    });
    $("#hidsent").val($.toJSON(xx));
    $("#form1").submit();
}

</script>
<style>
table.list td span{
    color:gray;
}
table.list td#sent{
    word-break:break-all;
    width:700px;
}

table.list td.but{
    text-align:center;
    width:60px;
}

#target {
  font-size: 0.7em;
}

</style>

<p><label for="sentence">[sentence]</label><div style="width:600px" id='sentence' class='editable' contenteditable></div></p>
<p><input type="button" value="↓↓↓" onclick="setTarget()" />ドラッグで反転させた内容を反映させる</p>
<p id="target">
  <label for="targetStartIndexText">マッチ対象文字列の開始位置</label><input id="targetStartIndexText" class='editable' type='text' />
  <label for="targetLengthText">マッチ対象文字列の長さ</label><input id="targetLengthText" class='editable' type='text' />
</p>
<p>
  <input type='button' value='add' onclick='addSentence();' />
  <input id='save' type='button' value='変更を反映' onclick='save();' disabled />
</p>


<div style="margin-top:10px"></div>
<table class='list'>
<thead><tr><th style="width:600px;">問題文</th><th>操作</th></tr></thead>
<tbody>
<% @results.each_with_index do |val,i| %>
<tr id='sent_<%= i %>'>
   <td id='sent'>
     <%= val[:pref] %><strong style="color:red"><%= val[:target] %></strong><%= val[:suff] %>
     <input type="hidden" id="targetStartIndex_<%= i %>" value="<%= val[:target_start_index] %>">
     <input type="hidden" id="targetLength_<%= i %>" value="<%= val[:target_length] %>">
   </td>
   <td class='but'><input type='button' value='delete' id='but_<%= i %>' onclick='deleteSentence(<%= i %>);' /></td>
</tr>
<% end %>
</tbody>
</table>


<form method="post" name="form1" id="form1" action='/admin/sentences/save'>
    <input type="hidden" name="sentences" id="hidsent" value="444" />
</form>
